In [5]:
#Name :- Devashish Mayur Potnis
#Roll No :- 43557
#Practical No :- 4

In [6]:
import sqlite3

In [7]:
# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()
# Create the table
cursor.execute("""
CREATE TABLE IF NOT EXISTS weather_data (
id INTEGER PRIMARY KEY AUTOINCREMENT,
station_id TEXT NOT NULL,
date TEXT NOT NULL,
snowfall REAL NOT NULL
);
""")
# Insert sample data (50 records)
cursor.executemany("""
INSERT INTO weather_data (station_id, date, snowfall) VALUES (?, ?, ?)
""", [
('ST01', '2013-01-01', 0.5),
('ST02', '2013-01-01', 2.0),
('ST03', '2013-01-01', 0.0),
('ST01', '2013-01-02', 3.1),
('ST02', '2013-01-02', 1.2),
('ST03', '2013-01-02', 0.8),
('ST01', '2013-01-03', 5.0),
('ST02', '2013-01-03', 2.5),
('ST03', '2013-01-03', 1.0),
('ST01', '2013-01-04', 1.7),
('ST02', '2013-01-04', 0.0),
('ST03', '2013-01-04', 2.2),
('ST01', '2013-01-05', 3.5),
('ST02', '2013-01-05', 4.0),
('ST03', '2013-01-05', 0.3),
('ST01', '2013-01-06', 0.9),
('ST02', '2013-01-06', 1.1),
('ST03', '2013-01-06', 3.6),
('ST01', '2013-01-07', 2.8),
('ST02', '2013-01-07', 0.0),
('ST03', '2013-01-07', 1.9),
('ST01', '2013-02-01', 4.5),
('ST02', '2013-02-01', 1.8),
('ST03', '2013-02-01', 3.1),
('ST01', '2013-02-02', 0.7),
('ST02', '2013-02-02', 2.6),
('ST03', '2013-02-02', 5.0),
('ST01', '2013-02-03', 3.2),
('ST02', '2013-02-03', 4.0),
('ST03', '2013-02-03', 1.3),
('ST01', '2013-02-04', 0.0),
('ST02', '2013-02-04', 2.2),
('ST03', '2013-02-04', 0.1),
('ST01', '2013-02-05', 1.4),
('ST02', '2013-02-05', 0.8),
('ST03', '2013-02-05', 2.9),
('ST01', '2013-02-06', 3.5),
('ST02', '2013-02-06', 1.1),
('ST03', '2013-02-06', 0.0),
('ST01', '2013-03-01', 2.3),
('ST02', '2013-03-01', 0.9),
('ST03', '2013-03-01', 1.5),
('ST01', '2013-03-02', 0.0),
('ST02', '2013-03-02', 3.0),
('ST03', '2013-03-02', 2.7),
('ST01', '2013-03-03', 1.0),
('ST02', '2013-03-03', 1.6),
('ST03', '2013-03-03', 3.3)
])
# Commit the changes and close the connection
conn.commit()
conn.close()
print("Data inserted successfully!")

Data inserted successfully!

In [ ]:
import sqlite3  # Replace with your database module if needed (e.g., pymysql, psycopg2)

In [ ]:
def get_max_snowfall_station_and_day():
    # Connect to your weather database
    conn = sqlite3.connect('weather_data.db')  # Adjust this to your actual database
    cursor = conn.cursor()

    # Corrected SQL query to find the max snowfall in 2013
    query = """
    SELECT station_id, date, snowfall
    FROM weather_data
    WHERE strftime('%Y', date) = '2013'
    ORDER BY snowfall DESC
    LIMIT 1;
    """

    # Execute the query
    cursor.execute(query)
    result = cursor.fetchone()

    if result:
        station_id, date, max_snowfall = result
        print(f"The station with the maximum snowfall in 2013 was {station_id}, on {date}.")
        print(f"Maximum snowfall: {max_snowfall} inches.")
    else:
        print("No data found for 2013.")

    # Close the connection
    conn.close()

# Run the function to get the result
get_max_snowfall_station_and_day()

The station with the maximum snowfall in 2013 was ST01, on 2013-01-03.
Maximum snowfall: 5.0 inches.